.header {
  backdrop-filter: blur(2px);
  z-index: 10;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(59, 58, 58, 0.837),
    rgb(6, 6, 6)
  );
  background-image: url("../assets/background .jpg");
  background-size: cover;
  .header_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    span {
      color: rgb(246, 222, 136);
      text-shadow: rgb(2, 2, 2) 0.1em 0.1em 0.2em;
    }
  }
}
