.header {
  backdrop-filter: blur(2px);
  z-index: 10;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(59, 58, 58, 0.837),
    rgb(6, 6, 6)
  );
  background: url("https://img.freepik.com/free-photo/top-view-desk-concept-with-coffee_23-2148604932.jpg?w=1380&t=st=1701106187~exp=1701106787~hmac=7b9000fc1c0f7f7d6efc9709450459c807796cefc2006061f39c9fbc262dc495");
  background-size: cover;
  .header_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    span{
      color: rgb(246, 222, 136);
      text-shadow: rgb(2, 2, 2) 0.1em 0.1em 0.2em;
    }
  }
}
